<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-tooth fa-lg"></i> Clinică Dentară</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Acasă</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vizualizare
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/viz/angajati">Angajați</a>
                        <a class="dropdown-item" href="/viz/echipamente">Echipamente</a>
                        <a class="dropdown-item" href="/viz/pacienti">Pacienți</a>
                        <a class="dropdown-item" href="/viz/servicii">Servicii</a>
                        <a class="dropdown-item" href="/viz/programari">Programări</a>
                        <a class="dropdown-item" href="/viz/joburi">Joburi</a>
                        <a class="dropdown-item" href="/viz/sali">Săli</a>
                        <a class="dropdown-item" href="/viz/furnizori">Furnizori</a>
                        <a class="dropdown-item" href="/viz/inventare">Inventare</a>
                        <a class="dropdown-item" href="/viz/repartizare_sali">Repartizări săli</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Adăugare
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/add/angajati">Angajați</a>
                        <a class="dropdown-item" href="/add/echipamente">Echipamente</a>
                        <a class="dropdown-item" href="/add/pacienti">Pacienți</a>
                        <a class="dropdown-item" href="/add/servicii">Servicii</a>
                        <a class="dropdown-item" href="/add/programari">Programări</a>
                        <a class="dropdown-item" href="/add/joburi">Joburi</a>
                        <a class="dropdown-item" href="/add/sali">Săli</a>
                        <a class="dropdown-item" href="/add/furnizori">Furnizori</a>
                        <a class="dropdown-item" href="/add/inventare">Inventare</a>
                        <a class="dropdown-item" href="/add/repartizare_sali">Repartizări</a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
</header>